---
# SSH Hardening Role - CIS Controls
# Based on CIS Ubuntu 24.04 LTS Benchmark v1.0.0
# Section 5.1: SSH Server Configuration

- name: Ensure SSH server is installed
  apt:
    name: openssh-server
    state: present
    update_cache: yes
  tags: ssh

- name: Backup current SSH configuration
  copy:
    src: /etc/ssh/sshd_config
    dest: /etc/ssh/sshd_config.{{ ansible_date_time.epoch }}.bak
    remote_src: yes
    mode: '0600'
  tags: ssh

- name: Configure SSH hardening settings
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  loop:
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin {{ ssh_permit_root_login }}' }
    - { regexp: '^#?PermitEmptyPasswords', line: 'PermitEmptyPasswords no' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication {{ ssh_password_authentication }}' }
    - { regexp: '^#?X11Forwarding', line: 'X11Forwarding no' }
    - { regexp: '^#?MaxAuthTries', line: 'MaxAuthTries {{ ssh_max_auth_tries }}' }
    - { regexp: '^#?ClientAliveInterval', line: 'ClientAliveInterval {{ ssh_client_alive_interval }}' }
    - { regexp: '^#?ClientAliveCountMax', line: 'ClientAliveCountMax {{ ssh_client_alive_count_max }}' }
    - { regexp: '^#?LogLevel', line: 'LogLevel INFO' }
    - { regexp: '^#?IgnoreRhosts', line: 'IgnoreRhosts yes' }
    - { regexp: '^#?HostbasedAuthentication', line: 'HostbasedAuthentication no' }
    - { regexp: '^#?PermitUserEnvironment', line: 'PermitUserEnvironment no' }
    - { regexp: '^#?MaxStartups', line: 'MaxStartups 10:30:60' }
    - { regexp: '^#?MaxSessions', line: 'MaxSessions 10' }
    - { regexp: '^#?LoginGraceTime', line: 'LoginGraceTime 60' }
    - { regexp: '^#?Banner', line: 'Banner /etc/issue.net' }
  notify: restart ssh
  tags: ssh

- name: Configure SSH strong ciphers (CIS 5.1.11)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Ciphers'
    line: 'Ciphers {{ ssh_ciphers | join(",") }}'
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: restart ssh
  tags: ssh

- name: Configure SSH MACs (CIS 5.1.12)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?MACs'
    line: 'MACs {{ ssh_macs | join(",") }}'
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: restart ssh
  tags: ssh

- name: Configure SSH key exchange algorithms (CIS 5.1.13)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?KexAlgorithms'
    line: 'KexAlgorithms {{ ssh_kex_algorithms | join(",") }}'
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: restart ssh
  tags: ssh

- name: Set SSH file permissions (CIS 5.1.2)
  file:
    path: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: '0600'
  tags: ssh

- name: Set SSH private key permissions
  shell: |
    find /etc/ssh -type f -name 'ssh_host_*_key' -exec chmod 0600 {} \;
    find /etc/ssh -type f -name 'ssh_host_*_key' -exec chown root:root {} \;
  changed_when: false
  tags: ssh

- name: Set SSH public key permissions
  shell: |
    find /etc/ssh -type f -name 'ssh_host_*_key.pub' -exec chmod 0644 {} \;
    find /etc/ssh -type f -name 'ssh_host_*_key.pub' -exec chown root:root {} \;
  changed_when: false
  tags: ssh

- name: Create SSH banner
  copy:
    dest: /etc/issue.net
    content: |
      **************************************************************************
      *                            AUTHORIZED ACCESS ONLY                      *
      *                                                                        *
      * This system is for authorized use only. All activity may be           *
      * monitored and reported. Unauthorized access is prohibited and will    *
      * be prosecuted to the fullest extent of the law.                       *
      **************************************************************************
    owner: root
    group: root
    mode: '0644'
  tags: ssh
